.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: #292929;
  border-radius: 10px;
  border: 1px solid #121212;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets__header > h2 {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.widgets__header > a {
  color: white;
}

.widgets__article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets__article:hover {
  background-color: black;
}

.widgets__articleLeft {
  color: #a800fe;
  margin-right: 5px;
}

.widgets__articleLeft > .MuiSvgIcon-root {
  font-size: 15px;
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
  color: white;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: lightgray;
}
